[2018-08-16 20:35] g10f opened #554 "AdminImageWidget render exception in django 2.1"
class AdminImageWidget render function does not accept a renderer input parameter, which is used in django2.1.
This causes an exception if you use a sorl picture field in the django admin.

[2018-08-20 20:14] tisdall opened #556 "OperationalError: deadlock detected"
A call to `get_thumbnail` in a view caused a `OperationalError: deadlock detected` error to occur.  The postgres logs had this:
[code]
We're running sorl-thumbnail 12.4.1 on Django 1.11.15 .

It seems to be a transient issue as this is the first time we've seen it since starting to use sorl-thumbnail and the same call a second time works correctly.

[2018-08-28 11:16] Eraldo commented on #349
Has this use case been solved in the meantime?

[2018-08-28 11:30] Eraldo opened #557 "Source Resize"
Reopening the issue from 2014: #349
I am curious if this has been solved, since I would like to switch from easy_thumbnails to sorl-thumbnail, however I don't want to miss that feature. ;)

[2018-08-29 21:55] Martin11111111 opened #558 "tests.thumbnail_tests.test_backends.TestDescriptors.test_is_valid_image fails with pgmagick"
with pgmagick version `0.7.4-1+b1` on Debian unstable amd64:
[code]
The test does not fail with other backends (pillow, imagemagick, graphicsmagick).

[2018-09-05 08:26] OlivierGaillard commented on #414
Thanks for the tip setting THUMBNAIL_DUMMY! I had the same problem after a migration.

[2018-09-08 16:07] timgraham commented on #554
PR: https://github.com/jazzband/sorl-thumbnail/pull/553

[2018-09-12 21:52] timgraham commented on #526
I don't see value in keeping bugs open until they're released.

[2018-09-12 21:52] #526 closed

[2018-09-12 22:09] timgraham commented on #557
I don't know. I reopened the original issue. Better to keep the conversation in one place.

[2018-09-12 22:09] #557 closed

[2018-09-12 22:10] timgraham commented on #546
@camilonova - are you a lead for this project who can do a release? If needed, I can help with tasks like putting release notes together.

[2018-09-13 05:11] Flimm commented on #526
@timgraham I guess I do. I prefer it when GitHub committers keep issues open until their corresponding bug fixes are released on PyPI. When I come across a bug in a released project, I often try to search for its bug report, and then if I can't find an open issue, I file a new one. Even if I do find the old closed issue, I file a new one, assuming a regression. If bug reports are closed only when

[2018-09-13 17:07] #554 closed

[2018-09-13 17:50] matthiask commented on #546
Maybe pushing a tag is sufficient for releasing? `.travis.yml` contains a deploy: section.

[2018-09-13 20:07] camilonova commented on #546
@timgraham sure man, go on and let me know.

[2018-09-13 21:40] #501 closed

[2018-09-13 21:51] camilonova commented on #546
Fixed in #563

[2018-09-14 01:48] sebastian-code commented on #526
I do agree with @Flimm I think it also helps developers to keep track of their own project status @timgraham

[2018-09-14 14:38] Flimm commented on #546
@camilonova The latest version on PyPI is still 12.4.1, released back in Nov 2017, so it looks like a newer version has not been released. If you were expected Travis CI to handle the release, it looks like the build failed: https://travis-ci.org/jazzband/sorl-thumbnail/jobs/428373120

[2018-09-16 09:19] stopdesign opened #564 "«OSError: cannot write mode RGBA as JPEG» when get_thumbnail for PNG in mode=P"
## What did I do?
Tried to get thumbnail (JPEG without transparency) for PNG image in mode=P (indexed colours?).
(It works good for PNG with mode=RGBA but not mode=P)

## What did I expect to happen?
Saving thumbnail without any exceptions, flattened alpha-channel into solid background of some colour (eg THUMBNAIL_PADDING_COLOR, some specific colour from settings or 'white').

## Test image
![5847

[2018-09-17 12:42] tisdall commented on #556
I've had the same issue 2 more times since reporting it.

[2018-09-17 13:10] timgraham commented on #546
It's merged now.

[2018-09-17 13:10] #546 closed

[2018-09-17 13:12] timgraham commented on #542
PR is https://github.com/jazzband/sorl-thumbnail/pull/543.

[2018-09-17 13:12] #542 closed

[2018-09-18 08:56] Flimm commented on #546
Thank you @timgraham , @camilonova and everyone one who contributed to this release 12.5.0 . It's appreciated.

[2018-09-26 18:41] mdczaplicki opened #565 "Thumnail doesn't create cache on production server"
I've started using you library and everything was fine until I've moved to production server.
On my localhost it works perfectly and resizes my parallax images to desired dimension.
![image](https://user-images.githubusercontent.com/9108586/46101266-ca382880-c1cb-11e8-8254-ddcae7d7dde8.png)
But unfortunately after deploying to server it stops working.
![image](https://user-images.githubusercontent

[2018-10-03 12:32] hugodes opened #566 "[BUG] : 'ascii' codec can't encode character '\xe9' in position 56: ordinal not in range(128)"
When trying to upload an image in Safari (12.0) using

[code]
If the path of the file contains an accent (é, è etc.) than the server throws the following error:

[2018-10-04 08:05] timmyomahony opened #567 "THUMBNAIL_DUMMY should respect crop dimensions"
I wanted to use a custom dummy image to display when images aren't present:

[code]

I would expect this image to be cropped according to the template tag usage, for example:

[code]

Should produce the dummy image at 600x450 (if the original doesn't exists).

[2018-10-04 08:09] timmyomahony opened #568 "Use of static files with the template tag"
There is no way to use static files with the `thumbnail` tag.

An example use-case for cropping static files is placeholder images. I know the `THUMBNAIL_DUMMY` setting exists, but this doesn't dynamically crop the dummy image when used with the `thumbnail` tag, so instead I need to use my own image from the static folder. Unfortunately it seems `sorl` doesn't handle that, and I can't find any cle

[2018-10-19 10:14] wjakob opened #570 "Multi-resolution images broken (Regression from 12.3 -> 12.4.1)"
Hi,

I'm using sorl-thumbnail to generate responsive thumbails in templates, e.g.
[code]
where ``THUMBNAIL_ALTERNATIVE_RESOLUTIONS = [2, 4]``.

After upgrading to the latest sorl-thumbail, I noticed that higher-resolution thumbnails are no longer generated, and all ``url`` evaluations return the same address (despite the fact that multiple resolutions were created are cached on Amazon S3).

[code]

[2018-11-07 08:34] lampslave opened #571 "sorl-thumbnail doesn't compatible with s3boto3 from django-storages>1.6.6"
Sorl-thumbnail has fallback `{% empty %}` template tag which used if original file doesn't exist. With django-storages>1.6.6 sorl uses this fallback for all new files (i.e. if file exists but thumbnail doesn't exist) when storage class based on s3boto3. With django-storages==1.6.6 it all works.
Tested with Django 1.11 on aws lambda.

[2018-11-29 19:44] lorinkoz commented on #532
Any update on this?

[2018-12-18 17:05] lampslave commented on #571
[code]

[2019-01-04 16:06] tisdall commented on #568
#61 may have some solutions for you

[2019-01-17 05:41] me-v2 opened #580 "bug: not generate file"
i have one image will generate two size thumbnails(100*150, 400*560) ,when **THUMBNAIL_QUALITY = 75** ,small one(100*150) not generate image in  /media/cache/,(in fact
 have one name:u'cache/8a/90/8a906080abef13ccf475797ce4333680.jpg') but big one (400*560) is okay ;
when **THUMBNAIL_QUALITY = 85** ,they both oaky ,generate files in cache folder.

[code]

[2019-01-21 02:53] bartels commented on #508
This appears to be the same bug as #301

It's particularly bad with the latest boto3 storage from django-storages, as it adds a large delay for each thumbnail generated.

It looks to be due to the behavior of instantiating a new storage instance for each thumbnail when deserializing from the cache. What would fix it is having some module level variable to cache the storage instances. That way only

[2019-02-07 16:39] chiragsoni2401 commented on #397
Hi there,
I am using MEDIA_ROOT directory but for me, images are not showing. I am using ImageField that comes from pillow as stated in a sorl-thumbnail official documention that we can use it.

[2019-02-14 10:57] VdeJong commented on #564
I have the same issue when saving an image through django rest framework. Where should I put this piece of code?

[2019-02-18 05:54] mwangikinuthia opened #583 "Images not rendered when i change the Django main project url file."
Images are not rendered when i alter the main Django projects url file.
I initially did not have a home page url in the url_patterns. So when i added one i noticed the thumbnails don't load but when i remove the home page pattern they load again.

**This dont work**
`urlpatterns = [
                  url(r'^admin/', admin.site.urls),
                  url('login/', user_login, name='login'),

[2019-02-18 08:36] #583 closed

[2019-02-18 08:37] mwangikinuthia commented on #583
Belongs to stackoverflow.

[2019-02-22 08:54] zoearthmoon opened #584 "'ImageFile' object has no attribute '_committed'"
hello!
i use django 2.1.5 + python 3.6
i have use `self.image = get_thumbnail(self.image, '252x175', quality=90, format='JPEG')`
like [https://stackoverflow.com/questions/24373341/django-image-resizing-and-convert-before-upload](url)

but i will get

this error ... can someone help me to fix that?
thank you!

[2019-02-23 21:11] troef commented on #564
This comment is not related to the issue but might help people like  me looking for a solution. If you don't mind having PNG format thumbnails you can use the following setting

`THUMBNAIL_PRESERVE_FORMAT = True`

This saves PNG images as PNG thumbnails and thus bypasses the RGBA problem completely.

[2019-03-05 10:16] maxgruzin opened #585 "AV1 Still Image File Format (AVIF) format support"
As more and more browsers start supporting AVIF format, it would be very helpful to allow generating thumbnails in it.

Thumbnail size is critical and this format has much better compression ratio.

[2019-04-04 13:31] hugodes commented on #566
This happens in Chrome and FF also.

[2019-04-24 09:32] dericktsai commented on #473
It's a bit late, but I also ran into this problem this week. My solution is make a database router. All tables sorl-thumbnail created stored in sqlite.
first step is give app_label to all tables in sorl.thumbnail.models (only one actually)
[code]

next is create a database router file
[code]

finally alter settings
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',

[2019-05-01 13:08] jpuaux opened #587 "Applying thumbnail.0001_initial...Traceback (most recent call last)"
Hi,

I have recently upgraded from Django 1.9.2 to Django 1.11.20. I am using sorl-thumbnail 12.5.

I made a few update, then ran makemigrations and got the following error:

[code]
Here is what I get when I apply 'migrate'

[code]

I have no clue what may have generated this.

Any idea ?
What shall I do ?

[2019-05-03 12:51] jpuaux commented on #587
Ok, I solved the issue.
I did
`migrate --fake-initial`
And it worked

[2019-05-03 12:51] #587 closed

[2019-05-04 17:34] maratumba commented on #532
I have the same problem. I located the problem to this line in the stack trace.
[code]
As far as I can tell, there is something wrong with ImageMagick `identify` command. When I run it on command line with the `source_image`, I get this error:
[code]
I'm switching to PIL for development for now.

[2019-05-09 13:23] EwoutH commented on #585
[libavif](https://github.com/joedrago/avif) tagged a new release, [0.1.3](https://github.com/joedrago/avif/releases/tag/v0.1.3). See [Colorist](https://github.com/joedrago/colorist) for an example [implementation](https://github.com/joedrago/colorist/blob/master/lib/src/format_avif.c).

[2019-05-28 19:09] synxronica commented on #584
то же самое. Чо, нормально сделать не могли чтоли?

[2019-06-05 21:06] iddqd1 commented on #351
It is slow latest boto 2 and sorl. It makes a lot of exists even THUMBNAIL_FORCE_OVERWRITE is true.

[2019-06-29 14:27] dbrgn opened #589 "Django deprecation warnings"
When starting the devserver on a Django 2.2 project with the latest (12.5) version of sorl-thumbnail, I get the following deprecation warnings:

[code]

[2019-08-09 03:17] jdmueller commented on #510
I am not sure if my problem is the same as what you have documented. I am going to try your suggestion and see if it fixes my issue. I am dealing with something that sounds like the same issue. I have a production site that is running using gunicorn/nginx and does not use django-storages since it is running from the filesystem. Recently I have containerized my project into a docker container using

[2019-08-09 06:13] jdmueller commented on #510
Thank you so much for your genius answer. Solved my problem!!!

To make this easier for anyone else I created a package for pip with these mods:
https://pypi.org/project/sorl-thumbnail-jdmueller/

And just add these to settings.py:
MEDIA_URL = "https://" + os.environ.get("AWS_STORAGE_BUCKET_NAME", "bucket-name") + ".s3.amazonaws.com/"
THUMBNAIL_FAST_URL = True

[2019-08-29 14:33] last-partizan opened #591 "Error with imagemagick 7"
When using imagemagick 7 (via wand engine) to create thumbnail for png image with alpha channel i get following error:
[code]

This is becouse here sorl assumes `truecolormatte` as acceptable value, but it is working only in imagemagick-6, for 7 there must be `truecoloralpha` (see https://github.com/emcconville/wand/blob/master/wand/image.py#L7732).

And here must be similar check:
https://github.

[2019-09-04 17:17] Six-wars opened #593 "Suggestion: Ratio Image Cropping"
Hi,
I'm coming from using pyuploadcare back to this and one key thing is using a ratio like 1:1 or 2:1 for image dimension then say crop center instead of using dimensions would be nice since it would try and use as much of the image as possible.

[2019-09-23 23:55] joineka commented on #351
yeah, I also test it with the smallest instance in Lightsail, and it always give 502 or 504 timeout. it sucks.

[2019-09-24 14:48] millerf opened #594 "Error low level API with `HTTPS` url"
I am using `sorl` to generate thumbnails in my project. everything works fine except when using https URLS.

[code]

Works fine with `im_file` being `http://8images.cgames.de/images/gamestar/4/tests-kanal-icon_6023667.jpg`,
but crashes with `https://8images.cgames.de/images/gamestar/4/tests-kanal-icon_6023667.jpg` (note the http*s*)

Anyone with an idea? Using it on MAC/Ubuntu with Pillow 5.4.1

[2019-10-11 06:15] thestackcoder opened #595 "Does it worked with the video file?"
I wanted to generate a thumbnail of a uploaded video, I didn't find any solution online except ffmpeg which is not recommended for production.

[2019-10-14 07:37] #521 closed

[2019-10-17 11:01] Christophe31 commented on #565
I have similar issue… For now I only tried with weasyprint, I have an URL generated but no image in front of it.
It looks like it worked once (with a png source) but not with other images (jpg sources).

My output thumbnail is a jpg. I'll try to keep this issue updated while I'll try to find a way to make it work.

[2019-10-17 12:10] Christophe31 commented on #509
is it a duplicate ? #565

[2019-10-17 12:41] Christophe31 commented on #565
Ok, Not sure what fixed my issue. But the thumbnail not working looks like they are in the kvstore but the file is not there. Even if we may have fix our Url mapping (to use path with file:// protocol as we are generating pdf locally) old thumbnails are "dead" and not regenerating.

[2019-10-23 17:34] #509 closed

[2019-11-08 15:44] patrickcmbooth opened #596 "On Django cache image reference mismatch when using manage.py dumpdata"
I'm trying to migrate data from staging to local copy of my site.

The images in the media folder are all transferred okay.

Then I use the following command to export my staging site

`python manage.py dumpdata --exclude contenttypes > db.json`

I then take the db.json file and load it to my local copy of the django site using the following command.

`python manage.py loaddata < db.json`

Some of

[2019-11-27 09:38] uri-rodberg opened #599 "Exceptions when users upload a GIF"
Hi,

We are using `sorl-thumbnail==12.5.0` in [Speedy Net](https://github.com/speedy-net/speedy-net). I found out that an exception is raised when users upload an animated GIF to the server. The exception is raised when viewing the user's profile, which uses `sorl-thumbnail` to try to create a thumbnail. I submitted an [issue](https://github.com/python-pillow/Pillow/issues/4235) on `python-pillow/

[2019-11-27 15:13] uri-rodberg commented on #599
Hi,

I added a validator called [`validate_photo_for_user`](https://github.com/speedy-net/speedy-net/commit/b1ee35b41b82c12f5983d30ce0aa843e0af78ccf#diff-53f67b16827497bcf5311316b73f1d13R48) to catch this exception, and don't accept the file if there is an exception (any exception) when creating a thumbnail. But, if there is an exception in the user's profile view, the server will still fail. I ho

[2019-12-01 08:21] uri-rodberg commented on #599
An example of an animated GIF who causes an exception:

![gif-shaking-back-forth](https://user-images.githubusercontent.com/12808124/69911426-101dfb80-1424-11ea-92f0-f84e1cde7060.gif)

This GIF doesn't cause an exception, but the thumbnail is empty in some circumstances (maybe depending on size) and therefore there is no thumbnail for a user who uploaded this GIF in some pages on Speedy Net:
![ear

[2019-12-02 15:44] uri-rodberg opened #601 "Support Django 3.0"
This line does not work with Django 3.0:

`from django.utils.encoding import python_2_unicode_compatible`

https://docs.djangoproject.com/en/3.0/releases/3.0/

You can import directly from six if you still need to support Python 2.

[2019-12-03 10:19] hugodes commented on #601
As far as I can see a PR has been made: #600

[2019-12-03 11:42] uri-rodberg commented on #601
You can close this issue after Django 3.0 is supported in the latest release.

[2019-12-09 12:18] devova commented on #601
https://github.com/jazzband/sorl-thumbnail/pull/600 is merged but no tag/release has been made!

[2019-12-10 17:45] TomaszKot11 commented on #564
Still relevant :)

[2019-12-12 15:58] moseb commented on #601
A new release would be lovely please please :smile:

[2019-12-13 11:01] hugodes commented on #601
Pretty please @camilonova 🙏🏻

[2019-12-18 20:14] bfincher commented on #601
You can update your requirements.txt file with the following line until a release is made:  git+git://github.com/jazzband/sorl-thumbnail@4fe1854#egg=sorl-thumbnail

[2019-12-20 08:13] danidee10 commented on #601
Just adding my voice here. Please make a release! :pray:  Thanks

[2019-12-23 18:42] camilonova commented on #601
Someone please approve #604

[2019-12-27 12:48] inoks commented on #601
@benjaoming Can you please approve #604?

[2019-12-27 13:09] benjaoming commented on #601
@inoks I already approved it, that has no effect. I don't have write access to the repo as noted in #604.

[2019-12-30 19:21] rambasnet opened #606 "pip install doesn't find 12.6 release"
I'm guessing that 12.6 release provides support for Django 3. pip can't find 12.6 release yet, any thoughts?

[2020-01-02 13:50] wbwlkr commented on #589
Hi @dbrgn

The deprecation warnings are due to the fact that **`sorl.thumbnail` loops on all** django settings variables.

The variable `DEFAULT_CONTENT_TYPE` exists in Django 2.2.x : https://github.com/django/django/blob/stable/2.2.x/django/conf/global_settings.py
but it is removed in Django 3.0.x :
https://github.com/django/django/blob/stable/3.0.x/django/conf/global_settings.py

Same for the `F

[2020-01-02 20:26] Cabalist commented on #589
@wbwlkr Is that a common pattern?  Why does it do that?  Legitimately curious.  :)

[2020-01-04 21:12] farin commented on #606
it wasn't published yet
You can install from branch as workaround
`pip install -e git+git://github.com/jazzband/sorl-thumbnail@12.6.0-release#egg=sorl-thumbnail`

[2020-01-04 22:12] rambasnet commented on #606
great, thanks!

[2020-01-04 22:12] #606 closed

[2020-01-07 16:17] yuweichen1008 commented on #601
The bug seems to unfix at Django 3.0

[2020-01-07 19:57] #601 closed

[2020-01-08 17:39] hiaselhans commented on #595
i think none of the used engines support videos.

[2020-01-09 16:46] dokterbob commented on #606
Poke! Would be great to have a publish!
Thanks!

[2020-01-09 20:16] devova opened #607 "Please upload 12.6 release to PyPi (Django3 support)"
Latest uploaded version still 12.5

[2020-01-13 08:30] v1kku opened #608 "Padding is only supported by PIL and Convert engines"
Only the [PIL](https://github.com/jazzband/sorl-thumbnail/blob/55ed9778f2a6e30d134caf614261489fc91bf19d/sorl/thumbnail/engines/pil_engine.py#L248) and [Convert](https://github.com/jazzband/sorl-thumbnail/blob/55ed9778f2a6e30d134caf614261489fc91bf19d/sorl/thumbnail/engines/convert_engine.py#L190) thumbnail engines have implemented the `_padding` method. Trying to use the padding option with any oth

[2020-01-13 09:25] Butonix opened #609 "Bug"
Django 3.0.2
from django.utils.encoding import python_2_unicode_compatible
ImportError: cannot import name 'python_2_unicode_compatible'

'sorl.thumbnail.templatetags.sorl_thumbnail': No module named 'django.utils.six

[2020-01-13 13:52] studybuffalo commented on #609
This is a known issue with Django 3.0. Should be fixed in the 12.6.0 release, which appears ready to go, but awaiting upload to PyPI.

A temporary workaround is here: https://github.com/jazzband/sorl-thumbnail/issues/601#issuecomment-567195005

[2020-01-13 14:30] #609 closed

[2020-01-14 20:39] camilonova commented on #607
https://github.com/jazzband-roadies/help/issues/182

[2020-01-22 15:07] bpepple commented on #607
So... is there any movement on this? I see they closed the reference issue, but still haven't uploaded the latest release to PyPi.

[2020-01-23 12:48] benjaoming commented on #607
@bpepple I find the instructions a bit unclear after these commits. #610 says to fix the issue (and probably require a new tag and release) but also changes a lot of other things.

Unless someone says so, I think it should be released as a 0.13 version, especially since it removes Python 3.4 and 3.5 support - and please correct me if I'm wrong: https://github.com/jazzband/sorl-thumbnail/pull/610/f

[2020-01-23 19:15] danjac commented on #607
@beaugunderson currently sorl-thumbnail has been blocking projects from upgrading to Django 3.0 for a month already, so if these changes have been approved and merged it would be good to move ahead as soon as possible. If you want to bump up the versioning I'm sure that's fine, but the bigger issue is the long delay in getting a stable release out.

[2020-01-28 02:08] zulrang commented on #607
What's the status of this?  The last update to PyPI was back in 2018!

[2020-01-28 08:27] benjaoming commented on #607
@zulrang please give people the time they need and avoid unnecessary Github notification stress. A new release of sorl-thumbnail was tagged yesterday and can be approved for a PyPi release shortly.

[2020-01-28 19:45] camilonova commented on #607
I'm on it. Will be done soon.

[2020-01-29 02:16] Cabalist opened #614 "ResourceWarning when running thumbnail clean"
I'm seeing thousands of these messages in my console when I run python with the `-Wd` flag

[code]

The port on `laddr` changes and the ip on `raddr` changes but otherwise those two lines are repeated alot.

Using Django 2.2.9 and sorl-thumbnail 12.5.0

[2020-01-30 12:18] challet opened #618 "Inverted thumbnail ratio with orientation in source, ImageMagick (convert) engine"
Hello,

When a file needing a orientation change is made into a thumbnail, the aspect ratio is not inverted during the `-scale` operation. Leading to a distorsion in the result.

## Scenario

* source image (orientation `6`, size `1800x1200`). 1200 being the height of the not re-oriented source image and the width of the intermediate (`1200x1800`) re-oriented image:
![](https://user-images.githubu

[2020-01-30 12:28] challet commented on #618
https://github.com/ggilley/sorl-thumbnail/blob/476594ee3a486747030030ea231c531b3fb91bb7/tests/thumbnail_tests/test_engines.py#L333-L344

Just saw a test with the exact same issue. It has been skipped with the following reason :

What a professional way of hiding problems under the carpet …

[2020-01-30 14:20] challet commented on #495
I'm wondering : where is the `image._getexif` method implementation ? I cannot see it inside [sorl/thumbnail/images.py](https://github.com/jazzband/sorl-thumbnail/blob/master/sorl/thumbnail/images.py).
It confuses me as it is already in use here [sorl/thumbnail/engines/pil_engine.py](https://github.com/jazzband/sorl-thumbnail/blob/master/sorl/thumbnail/engines/pil_engine.py#L103-L107), but when I

[2020-01-30 19:12] camilonova commented on #607
Done

[2020-01-30 19:12] #607 closed

[2020-01-31 12:09] hiaselhans commented on #607
:heart:
thank you! i am at django-3 now...

[2020-01-31 15:52] danjac opened #621 "Thumbnail tag:redis.exceptions.ResponseError: wrong number of arguments for 'auth' command"
Just upgraded to Django 3 + latest sorl-thumbnail. Currently *all* thumbnails on site are broken. Was working prior to upgrade.

django==3.0.2
django-redis==4.11.0
redis==3.4.0
sorl-thumbnail==12.6.2

[2020-01-31 16:05] danjac commented on #621
Looks like this might be an issue with the Python redis library:

https://github.com/andymccurdy/redis-py/issues/1274

Please feel free to close this.

[2020-02-04 22:53] #618 closed

[2020-02-07 12:46] nsomaru commented on #564
I'm curious as to why sorl worked fine before and now it doesn't in this case. Maybe it was better to just throw a warning?

[2020-02-07 14:19] nsomaru commented on #564
So part of the issue for me is in the fact that [sorl uses the file extension](https://github.com/jazzband/sorl-thumbnail/blob/master/sorl/thumbnail/base.py#L54) to determine the output format instead of actually reading the headers of the file like Pillow does to determine format. That means that the workaround `THUMBNAIL_PRESERVE_FORMAT = True` does not work for me when a user has misnamed a jpg

[2020-03-16 12:05] uri-rodberg commented on #599
Setting THUMBNAIL_FORMAT to PNG solves this problem.

I'm closing this issue for now.

[2020-03-16 12:05] #599 closed

[2020-03-24 13:56] submarcos opened #631 "Ability to select different storages from source and destination"
Hi,
I am user of sorl-thumbnail and it's very usefull.

In particular project and storage config case, we choose to store data in an s3 backend signed and private. I have no problem with default storage (media, s3, public), thumbnails are generated as well.

I have problem to generate thumbnail in another storage backend than Media, because there is no way to select Source storage.

Ex :

https://

[2020-04-14 12:00] submarcos commented on #631
I try to play with THUMBNAIL_STORAGE, but it's same problem

[2020-04-22 06:50] sandeepimpressads commented on #376
can't this error be silenced ? I am getting this error when my image file path is empty. I have a charfield where i store the image file path. when the charfield is emtpy, i am getting this error.

[2020-04-28 08:41] PSzczepanski1996 opened #633 "Files are not preserved as gifs, even if THUMBNAIL_PRESERVE_FORMAT is set to True"
[code]

[code]

[2020-04-30 09:25] HoshiYamazaki commented on #591
I have the same issue.

[2020-04-30 22:56] regisb commented on #589
I think this is a pattern that could be much improved. Think of all the gigatons of CO2 generated by the warning logs for sorl users around the world.

More seriously, this issue is affecting us [Open edX](https://github.com/edx/edx-platform/) developers: when investigating an issue, it's ;uch easier to have clean logs. Also having useless warnings dumped in the console is disturbing for our end u

[2020-05-07 12:43] sandeepimpressads commented on #442
Any update on this ? still having the same issue. thumbnail empty block is not called at all even though the image does not exist. Instead something is fetched from the key value store.

[2020-05-20 07:49] fredDesign commented on #591
fix it please ...

[2020-05-20 21:13] sunsetjunks commented on #420
Did you eventually find a way of catching sorl-thumbnail exceptions?

[2020-05-22 17:44] olitomas opened #636 "Add optional "version" parameter to thumbnails"
I am using sorl-thumbnail to serve static files (so I dont have to optimize them manually every time). It is working beautifully but as expected the thumbnail does not update when I change the image. I have seen some people asking about solutions to similar problems under "issues". My suggestion is a optional "version" parameter. This way the image url + the version could be stored and from that i

[2020-05-30 20:50] jayvdb opened #637 "Uncaught exception from django-minio-storage"
The constructor of `django-minio-storage` with `auto_create_bucket` enabled raises an except which maybe should be suppressed by `THUMBNAIL_DEBUG = False`

[code]

[2020-05-31 12:50] jayvdb opened #638 "THUMBNAIL_DUMMY only active when IOError occurs"
For the same scenario as in https://github.com/jazzband/sorl-thumbnail/issues/637 , THUMBNAIL_DUMMY doesnt work.

Copying a snipped of that backtrace:
[code]

Here is what `sorl/thumbnail/base.py` looks like around line 108 (line numbers slightly off due to injected debugging).

[code]

If the thumbnail does not yet exist, the storage will be used *first*, and the dummy only used if there was an `

[2020-05-31 13:22] jayvdb commented on #638
b2d90acd is where the catching of IOError was introduced, in 2012.

While the semantics of https://docs.djangoproject.com/en/3.0/ref/files/storage/ have an obvious link to file IO, nothing there or at https://docs.djangoproject.com/en/3.0/howto/custom-file-storage/ dictates what types of exceptions should be raised.

I've looked through a few storage backends and havent found any which intentional

[2020-05-31 13:33] jayvdb commented on #638
#639 only catches the error.  It doesnt address the problem of the dummy only being used after the exception has occurred - in the event of the image fetch causing a timeout, that ordering is a bit annoying.

However if the dummy should only be used as a fallback, I could ask the backends to allow the timeout to be configurable to lessen the pain.

[2020-06-17 03:08] CARocha commented on #589
Hi, i am using Django 2.2.13 and sorl 12.6.3 i still have the warning how to fix this warning disappear?? I am not clear of the solution

Thank

[2020-06-17 15:43] ktowen opened #640 "Error with password protected pdf"
In the convert_engine raises this exception (last line only) if the pdf is password protected

`  File "/home/towen/.cache/pypoetry/virtualenvs/ktest-_eEaXIqn-py3.6/lib/python3.6/site-packages/sorl/thumbnail/engines/convert_engine.py", line 94, in get_image_size                                              image['size'] = int(m.group('x')), int(m.group('y'))

[2020-06-17 20:01] jaradc opened #641 "Upload To Media Root Under User's Own Username Folder"
[code]
I am overriding the `ThumbnailBackend` to be more SEO-friendly (code found on MicroPyramid):

[code]

The `settings.THUMBNAIL_PREFIX` is the reason files are being uploaded to a `cache/` directory, and not my desired `upload_to=` location.

If my goal is to have images uploaded to a specific user's username directory, how would I accomplish this? Uploads is the name of my media root:

[code

[2020-06-19 19:22] jaradc commented on #641
TLDR;

How do I upload to a folder structure like this where the username is the name of my user:

uploads
 ----username1
--------featured_images
------------cache
----username2
--------featured_images
------------cache

I want to put the cache folder under a username within my mediaroot...

[2020-06-29 08:33] dwasyl opened #642 "Feature: autocrop (remove whitespace from the edges of an image)?"
Just finally upgrading from the ancient 3.2.5 version of this app and stumbled across one cropping option that doesn't seem to exist anymore that would be really handy `autocrop`.

In the old docs, it was defined as:
Remove any unnecessary whitespace from the edges of the source image.

Anyway, it was a handy shortcut that I used to clear background at the edge of portrait-style photos. I've just

[2020-07-16 08:03] sandeepbalagopal09 opened #643 "THUMBNAIL_DEBUG not working when using the get_thumbnail method"
I have THUMBNAIL_DEBUG set to False. But still getting OSError when rendering page. Using the templatetag is fine. Error is silenced.

[2020-07-22 16:11] #589 closed

[2020-07-22 16:16] claudep commented on #566
This is not related directly to sorl.thumbnail. You should run Python/Django with an UTF-8 locale, and this error should disappear.

[2020-07-22 16:16] #566 closed

[2020-08-17 15:45] skiv23 commented on #641
You need to parse image source and get path to user directory and then use it as a prefix for your final result:

    class SEOThumbnailBackend(ThumbnailBackend):

        def _get_thumbnail_filename(self, source, geometry_string, options):
            """
            Computes the destination filename.
            """
            key = tokey(source.key, geometry_string, serialize(options))

[2020-08-18 10:34] skiv23 commented on #596
Your local key-value store is empty and it regenerates the thumbnails.
`
If the key for the thumbnail is found in the Key Value Store, the serialized thumbnail information is fetched from it and returned. If the thumbnail key is not found there sorl-thumbnail continues to generate the thumbnail and stores necessary information in the Key Value Store.
`
[More here](https://sorl-thumbnail.readthedoc

[2020-08-18 16:52] jaradc commented on #591
Same. Did anyone else solve this yet?

[2020-08-23 00:06] RevolutionTech opened #644 "No way to address issues with images provided to get_thumbnail()"
`sorl-thumbnail` does not provide any way to catch and address errors when attempting to read invalid images using `get_thumbnail()`. I noticed that the project has a `THUMBNAIL_DEBUG` setting to address this problem, but it appears to only apply to template tags and not when using the low-level API directly.

Here is my specific use case: I have a Django REST Framework serializer for users that c

[2020-08-28 11:36] legendemil opened #645 "THUMBNAIL_REMOVE_URL_ARGS is not in documentation"
Hi,
the THUMBNAIL_REMOVE_URL_ARGS option is not documented, I think it would be great to add this to documentation, because default to this option is True and it removes query args from the url and thumbnail generation from Amazon presigned urls doesn't work.

https://stackoverflow.com/questions/63631469/django-sorl-thumbnail-doesnt-generate-thumbnail-from-amazon-presigned-url

[2020-08-28 18:07] ataylor32 opened #646 "Smart cropping sometimes has the wrong dimensions"
This is what I'm running:

[code]

This is the output:

[code]

This is what I would expect the output to be:

[code]

This is what I have installed:

[code]

[2020-08-30 02:22] atusoft opened #647 "ImageField doesn't work with samba folder"
Django version: 3.1
MEDIA_ROOT= '\\192.168.1.200\Camera\\'

solr-thumbnail ImageField was upload to 'e:\\192.168.1.200\Camera\upload', but django's ImageField works fine

[2020-08-30 02:44] mwschall commented on #591
This [pull request](https://github.com/jazzband/sorl-thumbnail/pull/648) should do it as per Wand [recommends](https://docs.wand-py.org/en/0.6.2/whatsnew/0.5.html#alpha-replaces-opacity-matte). There may still be other [6 -> 7](https://www.imagemagick.org/script/porting.php) incompatibilities lurking though.

[2020-08-30 03:11] #647 closed

[2020-09-23 08:09] sowinski commented on #564
Same problem here. Will be there a fix for this?

[2020-09-23 18:50] lancegoyke opened #649 "sorl-thumbnail docs on readthedocs are outdated"
Hey team,

I went to add in some documentation on the `THUMBNAIL_REDIS_URL` setting, but after forking the repository, saw there was [already some documentation written.](https://github.com/jazzband/sorl-thumbnail/blob/master/docs/reference/settings.rst)

It looks like the repository code hasn't been sent to readthedocs, as I cannot find info about `THUMBNAIL_REDIS_URL` on [the published documenta

[2020-09-24 15:08] liliserf opened #650 "Add a shortcut that will return the thumbnail or the original file"
I'm currently using `get_thumbnail` to upload an image and then immediate fetch it on a subsequent request. As it's well known, generating that thumbnail is a slow process, so it holds up the following request because it has not been generated/cached yet.

Would it be possible to add a shortcut that will check for a thumbnail and return it if it exists in the cache, and if not, that will just retu

[2020-10-08 04:11] jaradc commented on #641
Thanks, I did something very similar.

[2020-11-04 12:33] anka-sirota commented on #599
Changing default thumbnailing options does not seem like a good solution IRL.

Could we just fix this issue, making transparent GIFs work with default format settings instead? https://github.com/jazzband/sorl-thumbnail/pull/653

[2020-11-05 14:21] nizarmah commented on #589
As @regisb [mentioned above](https://github.com/jazzband/sorl-thumbnail/issues/589#issuecomment-622161964), this is an issue that is affecting [Open edX](https://github.com/edx/edx-platform/) developers.

@claudep can you please tag a release that includes the change from #634 ?
Otherwise, we'll need to upgrade the version in order to get rid of the warning. It would be much safer than cloning the

[2020-11-05 14:28] claudep commented on #589
I'm not sure I can do releases for this package, @aleksihakli maybe?

[2020-11-05 22:02] aleksihakli commented on #589
Hey everyone! @camilonova is the lead who can help with the release, please see

https://jazzband.co/projects/sorl-thumbnail

[2020-11-11 14:02] nizarmah commented on #589
Thanks @claudep and @aleksihakli

@camilonova would you please be able to help create a new release? It would be really helpful to resolve a bunch of warnings which [Open edX](https://github.com/edx/edx-platform/) developers are receiving.

[2020-11-17 19:33] nizarmah commented on #589
@aleksihakli sorry to ping you again, but it has been almost two weeks.

I was wondering if there's any hierarchy in Jazzband, in order to escalate this to someone else?

[2020-11-18 02:56] CARocha commented on #589
@nizarmah this is the mail for camilo [camilo.nova@gmail.com] maybe you write a e-mail in spanish say
oe camilo por favor haz un release de sorl-thumbnails culicagado.
maybe he listens to you!

[2020-11-18 07:46] claudep opened #654 "Add more leads to the project"
Currently only @camilonova is a project lead (https://jazzband.co/projects/sorl-thumbnail), and we can read in #589 that is not always very responsive.

It'd be great to have at least two more leads, it would be a pity that Jazzband projects are again stuck because of a lead "bus-factor".

[2020-11-18 08:41] aleksihakli commented on #589
Sometimes the maintainers are busy. In those cases pinging via direct email is a good approach. If you have availability and project maintenance experience or are motivated to take care of this project, opening an issue in the Jazzband roadies support project is also an option, increasing the maintainer count.

@jezdez @camilonova I also volunteer as a maintainer for this project if that helps, I

[2020-11-18 11:35] nizarmah commented on #589
I've emailed @camilonova, hopefully we'll receive an update :+1:

I'm afraid I still lack a bit of experience to take on such projects, so I'll postpone that slightly. Thanks for the suggestion though! I'll definitely keep it in mind.

Thanks for your reply by the way :slightly_smiling_face: and offering to volunteer.
Hopefully that won't be necessary, and @camilonova would be able to create a new

[2020-11-18 12:37] regisb commented on #589
Should we open a new "pypi release" issue on https://github.com/jazzband-roadies/help/issues/new/choose?

[2020-11-18 15:57] camilonova commented on #654
Sure go on. I agree to have more people on board.

[2020-11-23 14:03] camilonova commented on #654
For anyone interested here is the place https://github.com/jazzband-roadies/help/issues/new?assignees=&labels=lead&template=project_lead.md&title=Project+Lead%3A+sorl-thumbnail

[2020-11-23 14:03] #654 closed

[2020-11-26 09:02] lapinvert opened #657 "Why does sorl-thumbnail need to create a db table "thumbnail_kvstore"?"
To my understanding, sorl-thumbnail is supposed to use the cache (memcached etc) for that, so I am a little confused why do we need to apply a migration and create a db table.

[2020-11-26 22:27] nizarmah commented on #589
12.7.0 release is out, thanks a lot! (i'll avoid pinging anyone to avoid extra noise, but yeah, thanks to everyone who helped get this done :heart:)

[2020-12-03 14:02] camilonova commented on #637
@jayvdb can you update the status of this issue?

[2020-12-03 14:02] camilonova commented on #638
@jayvdb can you update the status of this issue?

[2020-12-04 05:21] jayvdb commented on #637
No change.
This problem occurs much earlier than the code I fixed in my PR.

i.e. it occurs here:
https://github.com/jazzband/sorl-thumbnail/pull/639/files#diff-d9ac5079d976ae60d043264e0e34a771af2b3a9593c4478e406d5b784af1aadbR74

[2020-12-04 05:32] jayvdb commented on #638
No significant change.

The title of this issue could now be "THUMBNAIL_DUMMY only active when an storage exception occurs"

The main problem is that storage are usually remote, so they usually have timeouts, and there is no caching of which storages or media are broken, so the dummy thumbnail wont help much towards making pages any more usable - pages will still take a long time to load, especial

[2020-12-07 09:58] jbagot opened #659 "Animated GIFs don't work"
Hi,
I've been digging in the library and the PIL library as well and I found some things that doesn't allow to do a thumbnail of an animated GIF.

I'm trying to create a thumbnail of an animated GIF with PIL engine, debugging I saw how PIL knows that is a GIF and is using the GIFPlugin, that's good. But in the `save` method `GIFPlugin` there is this part of the code:

[code]

It's quite self-expla

[2020-12-08 05:50] solarissmoke opened #660 "Deleting a thumbnail doesn't delete alternative resolutions of that thumbnail"
Calling [delete_thumbnails()](https://github.com/jazzband/sorl-thumbnail/blob/9529d6891a88dd5646e45e768928823dc4f1228a/sorl/thumbnail/kvstores/base.py#L64-L80) on a KVStore entry only deletes the default thumbnail on disk - any thumbnails that were generated in alternative resolutions are not deleted.

This feels inconsistent with what someone would expect that method to do - if I ask it to delete

[2020-12-11 15:41] camilonova commented on #637
Please try to work on a PR to fix this issue. Should be great if we get this fixed

[2020-12-12 03:08] jayvdb commented on #637
Perhaps you could comment on the implementation ideas at https://github.com/jazzband/sorl-thumbnail/issues/638#issuecomment-738574998 , which is the issue which impacts me more directly, more frequently, and thus likely to be an itch I have in the nearer term.

wrt this issue with django-minio-storage, is it worthwhile adding unit tests that exercise that specific storage, or just mock it?

[2020-12-18 13:22] gtnx commented on #532
There are several cases leading to that error:
1. `identify` fails
2. Parsing of the output fails

The latter may happen for images such as the following

![XBOX_0zta7PU](https://user-images.githubusercontent.com/1455367/102619160-4bc55980-413c-11eb-8ae3-5c7a8953d20e.png)

[code]

The probelm comes from this regexp:
https://github.com/jazzband/sorl-thumbnail/blob/29644a4abb727ed57877688027cad156b6

[2020-12-21 13:47] sbor23 commented on #532
Regarding the regex I would propose something like this: `^(?:.+) (?:[A-Z0-9]+) (?P<x>\d+)x(?P<y>\d+)`
This makes sure we capture the first occurrence of (x)x(y), which follows the file type information, eg. `BMP3`

@gtnx your solution would capture the second occurrence of the example, not sure if this is correct.

[2020-12-22 09:04] gtnx commented on #532
Sounds good

[2020-12-30 14:53] lorinkoz opened #662 "Cached thumb penalty with S3 backend"
👋🏼 Good work with this package!

---

Because of this code:

https://github.com/jazzband/sorl-thumbnail/blob/29644a4abb727ed57877688027cad156b63dfc32/sorl/thumbnail/images.py#L37-L41

If multiple thumbs with S3 backend are fetched from cache, the fact that they will all use a different storage will incur in a time penalty when generating presigned URLs for each one of those, as the object `backend

[2021-01-15 16:38] dirigeant commented on #662
same issue with #301 and #508

[2021-01-21 16:49] Alex-Sichkar commented on #644
+1

[2021-02-01 14:00] aryaniyaps opened #663 "convert-engine issue with saving any thumbnail"
So I have a model like this
[code]

the file field can be literally any file, and I want sorl-thumbnail to make a thumbnail for the same and save it into the thumbnail field. I am on windows and am using ImageMagick. [python version- 32 bits]

this is the binary distribution I installed.
https://imagemagick.org/script/download.php
ImageMagick-7.0.10-61-Q16-x86-dll.exe | Win32 dynamic at 16 bits-pe

[2021-02-01 14:10] CosmicReindeer commented on #663
I've posted regarding this here too
https://stackoverflow.com/questions/65994185/convert-engine-issue-with-saving-any-thumbnail

[2021-02-02 02:22] CosmicReindeer commented on #663
as far as I know this is why the first exception arises.
[code]
this import returns a TemporaryFile
(see source code)
[code]

and the TemporayFile class doesn't have any parameter named `delete`. instead, only `tempfile.NamedTemporaryFile` has it. Therefore, this chunk of code fails.
[code]
https://github.com/jazzband/sorl-thumbnail/blob/master/sorl/thumbnail/engines/convert_engine.py#L72

I think

[2021-02-02 02:26] CosmicReindeer commented on #663
if this is a potential bug, could this be patched?

[2021-02-24 17:25] #454 closed

[2021-03-16 09:31] sbor23 commented on #474
Little late to the party, but maybe it helps a future reader.
If you use the `convert` engine, you want to add `THUMBNAIL_FLATTEN=True` to your settings.
Unfortunately this setting is not documented.

[2021-03-17 00:20] joaquinpunales1992 commented on #584
@ZeroCoolHacker: I think you should use `get_thumbnail(self.image, '252x175', quality=90, format='JPEG').url`

[2021-04-29 10:42] hunasdf commented on #644
In my case, this was the error message if I called the get_thumbnail function:
'NoneType' object has no attribute 'build_absolute_uri'

The error's reason:
There was no request object in the serializer's context dictionary.

The solution:
In the View, I call the serializer with
serializer = TheSerializer(instance, data=data, context=self.get_serializer_context())
or
serializer = TheSerializer(inst

[2021-06-07 17:45] HoshiYamazaki opened #668 "Document db optimization using select_releated/prefetch_releated"
I'm curious if we are able to use `select_releated` or `prefetch_releated` techniques to optimize the load of the speed of view that uses sorl thumbnails templatetags.

[2021-07-26 17:10] paul-hansen opened #671 "Running tests locally with vagrant box not working"
# Summary
Following [the instructions for running the tests locally](https://sorl-thumbnail.readthedocs.io/en/latest/contributing.html#running-testsuit) does not work as the vagrant box is broken.

# Suggested actions
I would recommend either fixing this or removing it if it is no longer used by anyone as it's a trap for new contributors. If removed we should provide replacement instructions on ho

[2021-08-12 06:47] sunjiali opened #672 "Is there a demo for store thumbnail to s3?"
I have no idea about how to store thumbnail to s3?

Any help will be appreciate.

[2021-08-14 05:41] lalzada commented on #672
This is not something related to sort-thumbnail. Take a look here https://django-storages.readthedocs.io/en/latest/backends/amazon-S3.html

[2021-08-15 04:52] jayvdb opened #673 "same_open_fd_count fails twice intermittently on Python 3.6 Tumbleweed"
same_open_fd_count fails twice on Python 3.6 Tumbleweed
[code]

[2021-08-31 17:48] jramnai opened #675 "Do there any blockers to bump new release?"
We are looking forward to using `sorl-thumbnail` with Django 3.2 on [edX](https://github.com/edx).

Required PR - #674 is already merged into the master branch.
Do there any chance a new version will be bumped soon?

If any blockers with the release I would be happy to help.

Thank you in advance.

[2021-09-16 16:02] jramnai commented on #675
@camilonova, can you please take a look at this?

[2021-10-13 08:04] mcepl opened #676 "TemplateTestCaseA.test_orientation fails"
While packaging this package for openSUSE, I have this one test fail with Python 3.6.15 with DJANGO_SETTINGS_MODULE set to `tests.settings.imagemagick`:
[code]
Any idea, what's going on, please?

[Complete logs](https://github.com/jazzband/sorl-thumbnail/files/7336188/_log.txt) with detailed information about all packages used and steps taken.

[2021-10-18 17:54] natabene commented on #675
@camilonova Could you please have a look at this PR? We at the Open edX Team would highly appreciate a new release.

[2021-10-22 14:31] dtumanov opened #678 "User-Agent could be customized"
I have noticed that some websites deny standard User-Agent "python-urllib{python_version}/0.6" that is currently being used.
I am suggesting to add a new property THUMBNAIL_USER_AGENT which will allow a user to specify their own User Agent.

[2021-11-11 10:36] last-partizan commented on #568
https://github.com/jazzband/sorl-thumbnail/blob/aadb9faaf84711e923b5f33bd13276593cd58ef3/sorl/thumbnail/images.py#L105-L106

These two lines allows us to use following hack.

[code]

but i don't think it should be even this complicated. Maybe this code should be integrated into sorl-thumbnail. Or maybe sorl-thumbnail should provide better workaround for this case.

I like to hear what you think gu

[2021-11-14 10:41] sowinski commented on #668
Did you find a way?

[2021-11-27 07:27] h3x4git opened #679 "Thumbnails are only delivered when settings.DEBUG = True"
I'm using Python 3.6.9, Django 3.2.8, sorl-thumbnail 12.7.0 with memcached and apache2

my thumbnails completely disappear and give a 404 when settings.py variable DEBUG is set to False.

I also have to say, that I don't get any errors displayed at all from setting THUMBNAIL_DEBUG = True as I understand it depends on the aforementioned variable which I have to set to False for pictures to disappea

[2021-11-29 11:24] h3x4git commented on #679
The problem was in my apache2 site configuration file that wasn't serving the /media Alias as the directory path had changed.

[2021-11-29 11:24] #679 closed

[2021-12-14 15:41] natabene commented on #675
@camilonova Just checking to see if there have been any news.

[2021-12-15 16:21] camilonova commented on #675
Not yet https://github.com/orgs/jazzband/teams/sorl-thumbnail/discussions/1

[2021-12-16 15:35] natabene commented on #675
Thanks for an update! @camilonova

[2021-12-25 01:36] jayvdb opened #680 "Django 4 support"
There are a bunch of errors, possibly limited to the test suite, like

[code]

[2021-12-25 01:37] jayvdb commented on #675
Django 4 is out, so we should try to support it.
https://github.com/jazzband/sorl-thumbnail/issues/680

[2021-12-25 01:49] jayvdb commented on #680
Once I fix the import error, I have 14 errors that look related to Django 4.

[2021-12-25 01:52] jayvdb commented on #675
Also CI doesnt include Python 3.9 or 3.10

[2021-12-25 02:13] jayvdb opened #681 "Tests on master failing: AttributeError: 'str' object has no attribute 'storage'"
The latest push to master failed https://github.com/jazzband/sorl-thumbnail/runs/3968140863?check_suite_focus=true

I am seeing the same errors now on any Python version and Django version.
[code]

[2021-12-25 02:15] jayvdb commented on #675
And https://github.com/jazzband/sorl-thumbnail/issues/681 means the repo is currently borked for testing.  Probably the same problem @kckaiwei saw at https://github.com/jazzband/sorl-thumbnail/pull/552#issuecomment-950216882

[2021-12-25 03:23] jayvdb commented on #681
I am pretty sure that this PR broke it: https://github.com/jazzband/sorl-thumbnail/pull/665 ping @AlexeyZavalin and @camilonova

A partial fix is:
[code]

But then there are four failures:
[code]

[2021-12-25 04:22] jayvdb commented on #680
All other errors were due to https://github.com/jazzband/sorl-thumbnail/issues/681

[2021-12-26 08:41] uri-rodberg opened #683 "Officially support Django 3.1, 3.2, 4.0 and Python 3.9, 3.10 on PyPI"
PyPi only lists support of `sorl-thumbnail` to Django <= 3.0 and Python <= 3.8. I would like to see `sorl-thumbnail` officially supporting newer versions - Django 3.1, 3.2, 4.0 and Python 3.9, 3.10. And also, development status on PyPI is `2 - Pre-Alpha` - can you increase it to `5 - Production/Stable` maybe?

From my testing, `sorl-thumbnail==12.7.0` works with Django 3.1, 3.2, 4.0, and Python 3.

[2021-12-29 11:24] HoshiYamazaki commented on #668
Nope, but because sorl thumbnail queries are not really taking so long, I don't care.
I just optimize other parts of code for my webapps :)

[2022-01-05 15:03] camilonova commented on #681
Should we reverse the PR?

[2022-01-05 15:18] jayvdb commented on #681
IMO Yes. https://github.com/jazzband/sorl-thumbnail/pull/682 does that.

[2022-01-06 20:19] #680 closed

[2022-01-06 20:20] camilonova commented on #681
Thank you

[2022-01-06 20:20] #681 closed

[2022-01-06 22:14] jayvdb commented on #675
I think we have no more blockers for a release.

[2022-01-06 22:16] jayvdb commented on #683
The majority of this was done in https://github.com/jazzband/sorl-thumbnail/pull/682 , however PyPI metadata and docs still need an update.

See also https://github.com/jazzband/sorl-thumbnail/issues/675

[2022-01-10 14:40] camilonova commented on #675
@jezdez can you please take a look?

[2022-01-18 03:58] #663 closed

[2022-01-22 07:30] z0ng33 commented on #425
I have the same issue on 12.6.3, also tested on 12.7.0. Settings:
[code]

[2022-01-22 20:19] z0ng33 commented on #425
Solved by removing `THUMBNAIL_ENGINE = 'sorl.thumbnail.engines.wand_engine.Engine'` from settings.

[2022-01-23 21:13] benjaoming commented on #568
I updated the suggestion of @last-partizan to be able to use in development environment (without running `collectstatic`).

This might not be what everyone wants!

[code]

[2022-01-31 16:55] gbdlin opened #684 "Use `extras_require` for optional dependencies."
As `sorl-thumbnail` needs a separate imaging library for operation, it has to be installed separately. It is common to use another python library like pil, pillow or wand for that, but installing it and never explicitly using it in project may be confusing and may lead to accidental removal of them in the process of cleaning-up dependencies.

Allowing to install such backends together with `sorl-t

[2022-02-02 10:53] rettier commented on #510
The problem still exists. On deserialization from the cache the storage class is constructed again for each thumbnail when the url is resolved. As the storage class is constructed from it's name (e.g. `utils.TumbnailStorage`) pointing `THUMBNAIL_STORAGE` to a function which returns a singleton instance (e.g. `utils.get_thumbnail_storage`) does not solve the issue as the full class name is later sa

[2022-02-05 16:45] claudep commented on #675
Changelog PR: #685.

[2022-02-05 16:45] claudep commented on #683
This is done in master branch, so #675 is indeed the ticket to track now.

[2022-02-05 16:45] #683 closed

[2022-02-05 16:48] claudep commented on #673
If this is a Python 3.6 only issue, I'd suggest closing as Python 3.6 security support has ended. Maybe reopen if you can reproduce on a more recent version.

[2022-02-05 16:48] #673 closed

[2022-02-05 16:48] #672 closed

[2022-02-05 21:50] claudep commented on #591
Closed by #648. Open new tickets if other incompatibilities are found.

[2022-02-05 21:50] #591 closed

[2022-02-05 22:02] claudep commented on #649
The sorl-thumbnail config on readthedocs.org is still pointing to the previous repository URL, hence the outdated documentation. Who is able to change that? @mariocesar? Or can the Jazzband bot do anything for that?

[2022-02-05 22:04] claudep commented on #645
Duplicate of #649

[2022-02-05 22:04] #645 closed

[2022-02-07 08:12] jaradc opened #687 "Does Sorl Thumbnail Support GIFs?"
**[Default image format](https://sorl-thumbnail.readthedocs.io/en/latest/reference/settings.html?highlight=THUMBNAIL_FORMAT#thumbnail-format)**
supported formats are: 'JPEG', 'PNG'. This also implicitly sets the filename extension. This can be overridden by individual options.

I have `THUMBNAIL_PRESERVE_FORMAT = True` and noticed `sorl.thumbnail.base.EXTENSIONS` contains a 'GIF' mapping... and I

[2022-02-07 11:47] Colbascov commented on #442
I think there is a bug in the UrlStorage object.
I had an HTTP Error 404: Not Found.
After some research, it turned out that in UrlStorage
[code]
If the link address contains non-ascii characters, then the `normalize_url` method breaks the link.
`url.decode("ascii", errors="ignore")`

I just added a check if image url contains non-ascii and replace them with quote function from urllib.parse module

[2022-02-07 19:27] jaradc commented on #687
Answer is NO! Nobody will ever answer this so if this helps anyone, I made a special case for GIFs by creating a subclass of Pil Engine.

[code]

[2022-02-08 15:40] EchChou opened #688 "How to change the get_thumbnail storage location"
I would like to change the location storage of the get_thumbnail.
I tried this : im = get_thumbnail(my_file, size, crop='center', quality=quality, upload_to='whatever'), but it did not work for me.
Someone can help, please.

[2022-02-11 04:03] uri-rodberg commented on #683
Django 4.0 and Python 3.9, 3.10 not supported on PyPI (sorl-thumbnail 12.8.0), although they are mentioned on https://github.com/jazzband/sorl-thumbnail/blob/master/CHANGES.rst.

[2022-02-11 07:36] claudep commented on #683
Indeed, updating `setup.py` was forgotten, are you willing to make the corrective patch?

[2022-02-11 12:53] uri-rodberg commented on #683
I can try. But you will need to release again. I'm not sure if that's possible with the same release version.

Do we still want to keep `'Development Status :: 2 - Pre-Alpha'`?

[2022-02-11 14:57] claudep commented on #683
From the time the package exists, it should be noted as Stable IMHO. There is now a PR: #689

[2022-02-12 01:42] #675 closed

[2022-02-12 17:04] claudep opened #691 "Obsolete THUMBNAIL_KVSTORE"
I think that the configurable KVStore adds complexity to the project without real added value, all the more that now Django also includes a Redis cache backend in core. What about only keeping ``THUMBNAIL_CACHE`` to point to some Django-configured cache and tell users to do the cache configuration at the Django project level?

Are there still use cases to implement/specify custom KVStores that are

[2022-02-19 08:48] sowinski commented on #564
Any update on this? :)

[2022-02-28 22:40] camilonova commented on #649
Only @jezdez can. I'm still underage to be an admin ;)

[2022-02-28 22:41] camilonova commented on #691
Love it. Let's do it!

[2022-03-01 11:18] jezdez commented on #649
No need to be snarky @camilonova! 😜

I just fixed the settings and also set up the pull request integration, so you'll see if the docs don't successfully build.

[2022-03-01 11:18] #649 closed

[2022-03-01 13:25] claudep commented on #649
Thanks @jezdez, you are our hero :trophy:

[2022-03-13 23:41] slig opened #693 "`FileNotFoundError` when developing locally after upgrading to `12.8.0` and django 3."
Hi,

When developing locally without the media files available, I keep getting `FileNotFoundError` printed to the console. I'm calling `sorl.thumbnail.get_thumbnail` directly (i.e, without using the templatetags.

[code]

I tried to use the DUMMY config, but the error continue.

I believe that before when I was on `django==2.2.2` and `sorl-thumbnail==12.5.0` this error was getting suppressed someh

[2022-04-16 16:17] millerthegorilla opened #694 "thumbnails not generated when obtaining image from raw url"
The following does not work in production (with nginx reverse proxy to gunicorn and static files located on disk).   It does work in debug mode (with static files located under project root, and reference in project urls.py).
Thumbnails created from model.image_file  work fine.   A cache url is created, so the below gives 'https://my_domain/media/cache/b0/ae/b0ae1550ab42430c771314bf89563e9c.jpg'

[2022-04-17 14:32] millerthegorilla commented on #694
in debug I got the following error:
[code]
I am guessing that this is because I am using containers, and so I need to mount the certificates directories from the nginx container into the python container where gunicorn is running.

[2022-04-17 15:13] millerthegorilla commented on #694
It may be due to the fact that I am running the server under a letsencrypt staging certificate.  I will try installing the site with proper certs and report back...

[2022-04-17 15:47] millerthegorilla commented on #694
Yup, that was it.   It might be worth adding to the docs that this can be an issue...

[2022-04-17 15:47] #694 closed

[2022-04-21 12:44] benjaoming commented on #564
My current work-around:

[code]

As you can see, it's possible to put this behavior directly in `get_thumbnail`, if some `alpha_replace` is provided. I think that the behavior could follow automatically:

*If the we call `get_thumbnail(img, "800x800", alpha_replace="#ffffff")`, then SORL will automatically detect and replace alpha channels*

This way - even if for whatever reason the developer wan

[2022-04-23 22:22] paul-hansen commented on #671
Going through and cleaning up my open issues across github.
I no longer use this library in my active projects so I don't have interest in contributing anymore.

[2022-04-23 22:22] #671 closed

[2022-04-24 03:48] uri-rodberg opened #695 "DeprecationWarning with Pillow==9.1.0"
I tried to use `sorl-thumbnail==12.8.0` with `Pillow==9.1.0` and I receive this error message (with deprecation warnings enabled):

[code]

[2022-04-24 04:34] uri-rodberg commented on #695
https://github.com/speedy-net/speedy-net/actions/runs/2214341276

[2022-04-24 04:36] uri-rodberg commented on #695
In the meantime, I'm using `Pillow==9.0.1` which doesn't have this DeprecationWarning.

[2022-05-20 09:55] kciredor commented on #510
I'm hitting this issue as well, with redis and google storage backend.

[2022-05-23 14:42] guettli opened #697 "Is sorl-thumbnail pre-Alpha?"
According to this page the project is "pre-Alpha".

Is this correct?

https://djangopackages.org/packages/p/sorl-thumbnail/

[2022-05-24 07:15] claudep commented on #695
Fixed by 8d7bd407be95f3daf

[2022-05-24 07:15] #695 closed

[2022-05-24 07:16] claudep commented on #697
See #690, someone has to review/approve the PR.

[2022-06-27 05:22] uri-rodberg commented on #695
@claudep Can you release a new release with this change, and also supporting Django 4.0 and Python 3.9, 3.10?

[2022-08-03 10:30] uri-rodberg opened #698 "Release a new version to PyPI - support Django 4.1 and Pillow 9.2.0."
Hi,

I would like to see a new version of `sorl-thumbnail` on PyPI:

- Officially support Django 4.0, 4.1 and Python 3.9, 3.10 on PyPI.
- Remove `DeprecationWarning` with Pillow up to version 9.2.0 [https://github.com/jazzband/sorl-thumbnail/issues/695].

Commit https://github.com/jazzband/sorl-thumbnail/commit/8d7bd407be95f3dafdc2ad800b51194cada3599e should be included in the new version.

Curren

[2022-08-03 18:45] claudep commented on #698
sorl-thumbnail is in need of at least a second active approved reviewer. Unless this happens, the module is stalled.

[2022-08-04 14:33] claudep commented on #698
#690 at least must go in.

[2022-08-06 08:53] h3x4git opened #700 "Feature request: face detection or PPOI"
It would be great to guide the cropping process with some face detection algorithm or maybe just having a simple PPOI admin widget could help with the display of pictures uploaded by general users, so as to fix display problems

[2022-08-06 14:44] uri-rodberg commented on #697
It looks like it has been defined as pre-alpha for the last 5 years by mistake. The next release, I hope, will be stable.

[2022-08-06 15:02] uri-rodberg opened #701 "Automatic tests are not run with Django 4.0 & 4.1"
Hi,

From looking at the automatic tests from my last PR, I think automatic tests have not been running with Django 4.0 and 4.1. Notice also the minimal versions for Python (I think 3.8 for Django 4.0, 4.1).

Also, it might be the time to drop support for unsupported and unmaintained versions of Python and Django.

[2022-08-06 15:06] claudep commented on #697
Fixed by #690.

[2022-08-06 15:06] #697 closed

[2022-08-07 11:45] uri-rodberg commented on #701
It looks to me this is fixed now, closing this issue.

[2022-08-07 11:45] #701 closed

[2022-08-08 14:13] uri-rodberg opened #707 "link on sorl-thumbnail/AUTHORS should be clickable"
link on `sorl-thumbnail/AUTHORS` [[https://github.com/jazzband/sorl-thumbnail/graphs/contributors](https://github.com/jazzband/sorl-thumbnail/graphs/contributors)] should be clickable

[2022-08-08 18:42] #534 closed

[2022-08-08 20:51] claudep commented on #698
@uri-rodberg, are we ready now for the release?

[2022-08-09 05:21] uri-rodberg commented on #698
@claudep I ran tests with the master branch of `sorl-thumbnail`, with `Pillow==9.2.0` and the tests are passing. But I didn't check in production or staging.

Will you be able to address this issue before you release a new version?
https://github.com/jazzband/sorl-thumbnail/issues/707

You can just rename `sorl-thumbnail/AUTHORS` to a format which supports links and make https://github.com/jazzban

[2022-08-14 16:50] uri-rodberg commented on #700
Face detection is done by AWS and I guess many other providers. I don't think `sorl-thumbnail` should detect faces.

[2022-08-15 06:25] claudep commented on #700
I do agree with Uri, this is out of scope for `sorl-thumbnail`.

[2022-08-15 06:25] #700 closed

[2022-08-15 06:43] claudep commented on #698
I tried to make a release by pushing a tag. Frankly, there are sooooooo many ways to make a release in packages nowadays that I'm confused if it's the right move for this package. @jezdez may help... ?

[2022-08-15 11:44] uri-rodberg commented on #698
@claudep Try to change the tag to a release.

[2022-08-24 21:32] h3x4git commented on #700
I was also mentioning PPOI though

[2022-08-27 15:51] claudep commented on #698
@jezdez, please can you see why tagging did not push the release on jazzband.io? The Release action succeeded, but the upload to Jazzband was not done for a mysterious reason.

[2022-08-29 17:23] jezdez commented on #698
@claudep The release action for 12.9.0 did not run, since the workflow [is set up to only trigger when a GitHub release is created](https://github.com/jazzband/sorl-thumbnail/blob/d9d9a2b00b2c0c1a39153b80688ad2e8ab169553/.github/workflows/release.yml#L7-L9), not only when a tag is pushed.

I've just created https://github.com/jazzband/sorl-thumbnail/releases/tag/12.9.0 using the tag you created an

[2022-08-29 20:28] claudep commented on #698
Thanks a lot @jezdez. Now I don't seem to be authorized to push releases to PyPI. May I ask you to do that, or else give me the appropriate permission?

[2022-08-30 12:49] jezdez commented on #698
@claudep I've pushed the release, if you'd like to do this for sorl-thumbnail, you'd need to become co project lead, are you interested?

[2022-08-30 18:17] claudep commented on #698
@jezdez, thanks for pushing!!
And yes I think you could add me to project leads (hopefully I'll not reach the burned-out threshold too quickly!)

@uri-rodberg Thanks for your patience!

[2022-08-30 18:17] #698 closed

[2022-08-31 06:58] uri-rodberg commented on #698
@claudep Thank you for releasing `sorl-thumbnail` to PyPI.

@jezdez Thanks for your help!

[2022-09-06 10:04] #707 closed

[2022-09-06 12:40] michjnich opened #712 "Setting storage class does not support deconstructors"
When setting the storage, sorl does not allow for a class instance being deconstructible, which is necessary to be able to use backends with arguments.

### `sorl.thumbnails.images.py`
[code]

For a deconstructible class this can use `self.storage.deconstruct` (checking whether the class is deconstructible first to ensure backwards compatibility).

deserialize could check whether the storage is a

[2022-09-26 05:51] MarcoGlauser opened #713 "Django 4.1 template tag 'thumbnail' conflict with easy-thumbnails"
Django 4.1 added a system check to find duplicate template tags at startup. If easy-thumbnails and sorl-thumbnails are installed in the same project, it will detect the possible clash and will exit with an error. This happens even if the tags are not used in any template.
[code]

I've added a minimal reproduction here:
https://github.com/MarcoGlauser/template_tag_conflict
Simply run a manage.py co

[2022-10-03 02:22] pfcodes commented on #351
I see that `THUMBNAIL_FORCE_OVERWRITE` is supposed to be the solution to this. But what is the negative and/or side-effect of setting this variable to `true`?

[2022-10-03 09:00] claudep commented on #713
Thanks to https://github.com/django/django/commit/f71b0cf769d9ac5, Django 4.1.2 will turn the error into a warning (which can be silenced). I'm not sure if we should do anything else here.

[2022-10-04 00:51] pfcodes commented on #564
Bump

[2022-10-15 20:25] gustavi opened #714 ""Schematic view of how things are done" link in the documentation is dead"
Doc URL: https://sorl-thumbnail.readthedocs.io/en/latest/operation.html

Targeted URL: https://docs.google.com/drawings/edit?id=1wlE4LkQpzXd2a2Nxfjt6_j5NG7889dzMyf0V-xPAJSE&hl=en

Error:

![image](https://user-images.githubusercontent.com/2736557/196006247-d8049fb4-3c38-4fe1-9179-cdd27cfe9a46.png)

[2022-10-16 19:14] claudep commented on #714
@sorl, this was done a long time ago, but do you still have sources for this document?

[2022-11-16 20:45] alfonsrv commented on #568
A library to create thumbnails and then dealing with static files is a major pain. Didn't expect that.